<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999314438537-nkanp3kqr8fhv05c6k2nprcu298dop6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999314438537-nkanp3kqr8fhv05c6k2nprcu298dop6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBUZHEfs6XZU_CSxukQFDokKmTB5MuVTBk</string>
	<key>GCM_SENDER_ID</key>
	<string>999314438537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamyeung.JournalApp</string>
	<key>PROJECT_ID</key>
	<string>journal-app-516b2</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-516b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999314438537:ios:6e0f45f01310861405c958</string>
	<key>DATABASE_URL</key>
	<string>https://journal-app-516b2.firebaseio.com</string>
</dict>
</plist>